node_modules
**/node_modules
npm-debug.log
**/npm-debug.log
.git
**/.git
.env
**/.env
.env.*
!**/.env.example
.DS_Store
coverage
**/coverage
dist
**/dist
build
**/build
.vscode
.idea
*.log
tmp
**/tmp
.cache
**/.cache
uploads
**/uploads
*.tgz
.cache-loader
